<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>dvbcut</string>
	<key>CFBundleIconFile</key>
	<string>DVBCut.icns</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>alpha</string>
				<string>bitmap</string>
				<string>bmp</string>
				<string>bw</string>
				<string>eps</string>
				<string>gbr</string>
				<string>gif</string>
				<string>gih</string>
				<string>gpb</string>
				<string>icon</string>
				<string>jpe</string>
				<string>jpeg</string>
				<string>jpg</string>
				<string>matte</string>
				<string>mask</string>
				<string>pat</string>
				<string>pdf</string>
				<string>pix</string>
				<string>png</string>
				<string>ps</string>
				<string>psd</string>
				<string>psp</string>
				<string>rgb</string>
				<string>sgi</string>
				<string>svg</string>
				<string>tga</string>
				<string>tif</string>
				<string>tiff</string>
				<string>tub</string>
				<string>xbm</string>
				<string>xcf</string>
				<string>xjt</string>
				<string>xjtgz</string>
				<string>xjtbz2</string>
				<string>xpm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Image.icns</string>
			<key>CFBundleTypeName</key>
			<string>Image File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>All</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>org.dvbcut.org</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>OSX</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<string>NSApplication</string>
</dict>
</plist>
